.homepage {
  min-height: 75vh;

  .personal-info {
    padding: 32px;
    font-family: "Kumbh Sans", sans-serif;
    text-align: right;
    // border: 1.5px solid var(--color-accent);
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: var(--bg-secondary);

    .personal-info__photo {
      border-radius: 100% !important;
      background-color: var(--bg-primary);
      box-shadow: 0 0 0 1px var(--color-secondary);
      width: 150px;
      height: 150px;
      float: right;
      margin-bottom: 16px;
    }

    .personal-info__name {
      text-align: right;
      margin-bottom: 4px;
    }

    .personal-info__brief {
      display: flex;
      flex-flow: wrap;
      justify-content: flex-end;
      margin-bottom: 20px;

      span {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: right;
        margin-inline-start: 19px;

        svg {
          width: 16px;
          margin: 0 3px 0 0;
        }
      }
    }

    .personal-info__desc {
      font-size: 19px;
    }

    .personal-info__speak {
      text-align: left;
    }
  }

  .speak {
    font-family: "Inter", sans-serif;
    margin-bottom: 48px;

    h2 {
      margin-bottom: 16px;
      font-family: "Kumbh Sans", sans-serif;
    }

    ul {
      padding: 0;

      li {
        display: block;
        margin: 0;
        margin-bottom: 12px;
      }
    }
  }

  .tech-stack {
    h2 {
      font-family: "Kumbh Sans", sans-serif;
    }

    &__container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 16px;
    }

    &__stack {
      margin-bottom: 16px;
      &__title {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        color: var(--color-font-dimmed);
      }
      &__item {
        display: flex;
        align-items: center;
        margin-bottom: 14px;

        img {
          width: 20px;
          margin-right: 8px;
        }

        span {
          font-weight: 500;
        }
      }
    }
  }
}
