*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  // 300,400,500
  font-family: "Inter", sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-kumbh {
  font-family: "Kumbh Sans", sans-serif;
}

@for $i from 1 to 10 {
  $weight: $i * 100;
  .font-#{$weight} {
    font-weight: $weight;
  }
}
