*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  // 300,400,500
  font-family: "Inter", sans-serif;
  color: var(--color-font);
  background-color: var(--bg-canvas);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0 0 0.35em;
}
p {
  margin: 0 0 1.15em;
}
li {
  margin: 0.45rem;
}
#root,
#__next {
  isolation: isolate;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-kumbh {
  font-family: "Kumbh Sans", sans-serif;
}

@for $i from 1 to 10 {
  $weight: $i * 100;
  .font-#{$weight} {
    font-weight: $weight;
  }
}

// colors
.dark {
  --color-primary: #041c32;
  --color-secondary: #04293a;
  --color-accent: #064663;
  --color-font: rgb(207 207 207);
  --bg-primary: #041c32;
  --bg-canvas: #04293a;
}

.light {
  --color-primary: #d4ecdd;
  --color-secondary: #345b63;
  --color-accent: #152d35;
  --color-font: rgb(36, 36, 36);
  --bg-primary: #f3f3f3;
  --bg-canvas: #f5f5f5;
}
.container {
  width: 100%;
  padding-top: 32px;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
