.writings-single {
    min-height: 75vh;

    .writings-header {
        .writings-title {
            margin-bottom: .5rem;
        }

        padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 1px var(--writing-item-border) solid;
    }

    .writings-404 {
        text-align: center;

        .writings-404__emote {
            font-size: 10rem;
            margin-bottom: 1.5rem;
        }       
    }
}