.writings-page {
  min-height: 75vh;

  .writings-header {
    margin-bottom: 26px;

    header {
      .writings-header__title {
        font-family: "Kumbh Sans", sans-serif;
        margin-bottom: 10px;
      }
    }
  }
}
